/*
kit UI

53C147
29B01B
0A6700
063B00


*/

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    background-color: rgb(211, 218, 211);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1,
h2 {
    font-size: 1.6rem;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: none;
    color: rgb(184, 184, 184)
}

header {
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    background-color: #29B01B;
}

#contentHeaderLeft {
    width: 20%;

}

#contentHeaderRight {
    width: 20%;

}

.login {
    width: 100%;
    text-align: center;
    margin: auto;
}

#contentHeaderCenter {

    width: 60%;
    margin-top: auto;

}

.navCategorie {
    display: flex;
    text-align: center;
}

.navheader {
    margin: auto;
    text-align: center;
    padding: 1%;
}

#contentCenter {
    margin-top: 5%;
    width: 100%;
    display: flex;
}

.contentLeft {
    
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 40px;
    background-color: rgb(160, 158, 158);
}

.contentRight {
    border-radius: 40px;
    text-align: center;
    width: 50%;
    background-color: rgb(47, 194, 104);
}

.contentRightTOP {
    width: 100%;
    height: 50%;
    margin-top: 5%;
    background-color: aqua;
}

.contentRightTOP {
    width: 100%;
    height: 50%;
}

/* Bootstrap css */

.carousel-item {
    width: 100%;
    margin-top: 2%;
    transition: transform .3s ease-in-out, -webkit-transform .6s ease-in-out;
}

.w-100 {
    width: 70% !important;
}

.d-block {
    margin: auto;
}

.carousel-control-next {
    right: 10%;
}

.carousel-control-prev {
    left: 10%;
}